.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section1 span{
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;  
}
.section1 span h3{
    font-size: 15px;
}
.section1 img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.stacks_logo img{
    margin-top: 10px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-left: 30px;
}
.section1 p{
    width: 70%;
    text-align: justify;
    font-size: 20px;
}

.section1 button{
    
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    margin-bottom: 15px;
    background-image: linear-gradient(to bottom right, rgba(247, 14, 255, 0.1) 0%, rgba(14, 38, 255, 0.1) 25%, rgba(14, 255, 34, 0.1) 50%, rgba(255, 231, 14, 0.1), rgba(255, 14, 14, 0.1) 100%);
}
.section1 button:hover{
    background-image: linear-gradient(to bottom right, rgba(247, 14, 255, 1) 0%, rgba(14, 38, 255, 1) 25%, rgba(14, 255, 34, 1) 50%, rgba(255, 231, 14, 1), rgba(255, 14, 14, 1) 100%);
    margin-top: 10px;
    transition: 0.5s;
    box-shadow: 0 12px 16px 0 rgba(78, 213, 247, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;   
    
}

/* Animações */

.section1 img:hover{
    transform: rotateX(360deg);
    transition: 3s;
}